.app-container {
  max-width: 1800px;
}

.app-bar {
  position: static;
  background-color: rgba(0, 0, 0, 0.274);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-h2 {
  font-weight: 700;
  font-size: 32px;
}

.grid-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 50px;
}

.grid-item-posts {
  width: 70%;
}

.grid-item-form {
  width: 40%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .grid-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid-item-form,
  .grid-item-posts {
    width: 100%;
  }
}
